* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin: 3.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 3rem grey;
          box-shadow: 0 1rem 3rem grey;
}

.navbar-icon {
  width: 5.5rem;
  height: 5.5rem;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.open-navbar-icon {
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  z-index: 200;
}

.navbar-icon .line {
  height: .5rem;
  width: 4.5rem;
  background-color: #b10000;
}

.open-navbar-icon .line {
  margin: .3rem 0;
}

.navbar-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  left: 0;
  bottom: -100%;
  opacity: 0;
  z-index: 300;
  padding: 3.5rem;
  -webkit-transition: bottome .5s opacity .2s;
  transition: bottome .5s opacity .2s;
}

.change .navbar-wrapper {
  bottom: 0;
  opacity: 1;
  -webkit-transition: bottom 0.5s, opacity 0.2s 0.25s;
  transition: bottom 0.5s, opacity 0.2s 0.25s;
}

.navbar {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: hidden;
}

.close-navbar-icon {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  z-index: 300;
}

.close-navbar-icon .line {
  position: absolute;
}

.line-1 {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.line-2 {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.nav-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  width: 100%;
  opacity: 0.8;
  position: relative;
  top: -100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.change .nav-link {
  top: 0;
}

.nav-link:hover {
  opacity: 1;
}

.change .nav-link:nth-child(1) {
  -webkit-transition: top 1s 0.4s, opacity 0.3s, color 0.3s;
  transition: top 1s 0.4s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(2) {
  -webkit-transition: top 1s 0.6s, opacity 0.3s, color 0.3s;
  transition: top 1s 0.6s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(3) {
  -webkit-transition: top 1s 0.8s, opacity 0.3s, color 0.3s;
  transition: top 1s 0.8s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(4) {
  -webkit-transition: top 1s 1s, opacity 0.3s, color 0.3s;
  transition: top 1s 1s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(5) {
  -webkit-transition: top 1s 1.2s, opacity 0.3s, color 0.3s;
  transition: top 1s 1.2s, opacity 0.3s, color 0.3s;
}

.header {
  width: 100%;
  height: calc(100vh - 7rem);
  background-size: cover;
  position: relative;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #00000088), to(#ffffff44));
  background: linear-gradient(0deg, #00000088 20%, #ffffff44 100%);
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: scale 15s;
          animation: scale 15s;
  opacity: .8;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.banner {
  position: absolute;
  bottom: clamp(10%, 1vw, 20%);
  left: clamp(3%, 1vw, 20%);
  -webkit-animation: appear 2s ease-in-out;
          animation: appear 2s ease-in-out;
  min-width: 100%;
  text-align: center;
}

.banner h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans serif;
  color: #a00000;
  text-transform: uppercase;
}

.banner .prenom {
  font-size: clamp(8.5rem, 15vw, 30rem);
  letter-spacing: clamp(3rem, 6vw, 30rem);
  font-weight: 600;
}

.banner .nom_1, .banner .nom_2 {
  font-size: clamp(2rem, 2vw, 10rem);
  letter-spacing: clamp(1rem, 1vw, 10rem);
  font-weight: 400;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    top: 170%;
  }
  50% {
    opacity: 0;
    top: 60%;
  }
  100% {
    opacity: 1;
    top: 55%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    top: 170%;
  }
  50% {
    opacity: 0;
    top: 60%;
  }
  100% {
    opacity: 1;
    top: 55%;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0;
    overflow: hidden;
  }
  .navbar-icon {
    width: 4rem;
    height: 4rem;
    background-color: #b10000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
  }
  .open-navbar-icon {
    position: fixed;
    top: 3.5rem;
    left: 3.5rem;
    z-index: 200;
  }
  .navbar-icon .line {
    height: .2rem;
    width: 2rem;
    background-color: white;
  }
  .open-navbar-icon .line {
    margin: .3rem 0;
  }
  .navbar-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #ff1919b3;
    position: fixed;
    left: 0;
    bottom: -100%;
    opacity: 0;
    z-index: 300;
    padding: 3.5rem;
    -webkit-transition: bottome .5s opacity .2s;
    transition: bottome .5s opacity .2s;
  }
  .change .navbar-wrapper {
    bottom: 0;
    opacity: 1;
    -webkit-transition: bottom 0.5s, opacity 0.2s 0.25s;
    transition: bottom 0.5s, opacity 0.2s 0.25s;
  }
  .navbar {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
  }
  .close-navbar-icon {
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    z-index: 300;
  }
  .close-navbar-icon .line {
    position: absolute;
  }
  .line-1 {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  .line-2 {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  .nav-list {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-link {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .change .nav-link {
    top: 0;
  }
  .nav-link:hover {
    opacity: 1;
  }
  .change .nav-link:nth-child(1) {
    -webkit-transition: top 1s 0.4s, opacity 0.3s, color 0.3s;
    transition: top 1s 0.4s, opacity 0.3s, color 0.3s;
  }
  .change .nav-link:nth-child(2) {
    -webkit-transition: top 1s 0.6s, opacity 0.3s, color 0.3s;
    transition: top 1s 0.6s, opacity 0.3s, color 0.3s;
  }
  .change .nav-link:nth-child(3) {
    -webkit-transition: top 1s 0.8s, opacity 0.3s, color 0.3s;
    transition: top 1s 0.8s, opacity 0.3s, color 0.3s;
  }
  .change .nav-link:nth-child(4) {
    -webkit-transition: top 1s 1s, opacity 0.3s, color 0.3s;
    transition: top 1s 1s, opacity 0.3s, color 0.3s;
  }
  .change .nav-link:nth-child(5) {
    -webkit-transition: top 1s 1.2s, opacity 0.3s, color 0.3s;
    transition: top 1s 1.2s, opacity 0.3s, color 0.3s;
  }
  h1 {
    font-family: 'Raleway', sans serif;
    color: #b10000;
    text-transform: uppercase;
  }
  @-webkit-keyframes appear {
    0% {
      opacity: 0;
      top: 170%;
    }
    50% {
      opacity: 0;
      top: 90%;
    }
    100% {
      opacity: 1;
      top: 70%;
    }
  }
  @keyframes appear {
    0% {
      opacity: 0;
      top: 170%;
    }
    50% {
      opacity: 0;
      top: 90%;
    }
    100% {
      opacity: 1;
      top: 70%;
    }
  }
  .header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
  }
}
/*# sourceMappingURL=main.css.map */